@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: 'Montserrat' , sans-serif;;
}

/*.button{
    color:#eee;
  }
  .button:hover{
    color: #fff;
  }
  .acorh {
  list-style: none;
  font-size: 18px;
  display: flex;
  }
  .acorh li {
  list-style: none;
  margin-left: 30px;
  margin-right: 5px;
  }
  .acorh li a {
  display: block;
  color: #eee;
  text-decoration: none;
  box-sizing: border-box;
  }
  .acorh li ul {
  max-height: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  transition: .3s all ease-in;
  }
  .acorh li li a {
  color: #000;
  font-size: 16px;
  border: 0;
  box-sizing: border-box;
  }
  ul.acorc li li:last-child a {
  border-bottom: 0;
  }
  ul.acorh li:hover ul {
  max-height: 300px;
  transition: .3s all ease-in;
  }
  .acorh li a:hover {
  color: #fff;
  }
  .navFlex{
    display: flex;
    background-color: #37BCED ;
    justify-content: space-between;
  }
  .Centrar{
      display: grid;
      place-content: center;
  }
    .blink{
        color:white;
      padding-top: 10px;
      white-space: nowrap;
      border-right: 4px solid;
      width: 10ch;
      animation: typing 2s steps(10) ,
      blink .5s infinite step-end alternate;
      overflow: hidden;
    }
  .banner1{
      margin-top: 50px;
      color:white;
      margin-left: 30%;
  }
  @keyframes typing {
      from {width: 0px;}
  }
  @keyframes blink{
      50%{border-color: transparent;}
  }
  .colorLetras {
    color: red; }
  .margen {
    margin-left: 45%;
    margin-right: 0px; }

.positionR{
    position: relative;
    z-index: 1;
}
body {
    font-family: 'Montserrat', sans-serif;
    background: whitesmoke;
}*/

/* COMIENZO DEL NAVBAR*/

.header {
    width: 100%;
    height: 80px;
    background: whitesmoke;
}

.nav {
    background: whitesmoke;
    height: 80px;
    color: #663c4c;
}

.nav__container {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    opacity: .8;
}

.nav__label,
.nav__input {
    display: none;
}

.nav__label {
    font-size: 35px;
}

.nav__menu {
    margin-top: 15px;
    margin-right: 30px;
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    position: center;
}

.nav__item {
    color: #663c4c;
    text-decoration: none;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
    font-size: 18px;
}

.nav__item::after {
    content: "";
    display: block;
    background: #663c4c;
    width: 100%;
    margin-top: 2px;
    height: 2px;
    clip-path: var(--clippy);
    transition: .2s ease;
    opacity: .8;
}

.nav__item:hover {
    --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    color: #663c4c;
}

.nav__logo {
    font-size: 35px;
    font-family: 'Dancing Script', cursive;
    margin-left: 30px;
}

.nav__logo a {
    text-decoration: none;
    color: #663c4c;
}

/* FIN DEL NAVBAR */

/* PAG DE INICIO */

.principal {
    width: 100%;
    /*height: 600px;*/
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.carta {
    display: grid;
    grid-template-areas:
        "bot__1 bot__2";
    grid-template-columns: 60% 37%;
    grid-template-rows: 600px;
    column-gap: 28px;
}

.bot__1 {
    grid-area: bot__1;
    background-image: url(../multimedia/mousse_nire_limon.jpeg);
    background-position: center;
    background-repeat: none;
}

.bot__1 a {
    text-decoration: none;
    color: white;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.bot__1 a::after {
    content: "";
    display: block;
    background: #fff;
    width: 100%;
    margin-top: 2px;
    height: 2px;
    clip-path: var(--clippy);
    transition: .2s ease;
    opacity: .8;
}

.bot__1 a:hover {
    --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    color: #fff;
}

.bot__2 {
    grid-area: bot__2;
    background-image: url(../multimedia/torta_oreo.jpeg);
    background-position: center;
    background-repeat: none;
}

.bot__2 a {
    text-decoration: none;
    color: white;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.bot__2 a::after {
    content: "";
    display: block;
    background: #fff;
    width: 100%;
    margin-top: 2px;
    height: 2px;
    clip-path: var(--clippy);
    transition: .2s ease;
    opacity: .8;
}

.bot__2 a:hover {
    --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    color: #fff;
}


.gtxx {
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0);
    font-size: 35px;
    opacity: .7;
    padding: 25px;
    margin-top: 500px;
}

.secundario {
    width: 100%;
    height: 600px;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
}

.papel {
    display: grid;
    grid-template-areas:
        "bot__3 bot__4";
    grid-template-columns: 37% 60%;
    grid-template-rows: 600px;
    column-gap: 28px;
}

.bot__3 {
    grid-area: bot__3;
    background-image: url(../multimedia/cheesecake_cocido.jpeg);
    background-repeat: none;
    background-position: center;
}

.bot__3 a {
    text-decoration: none;
    color: white;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.bot__3 a::after {
    content: "";
    display: block;
    background: #fff;
    width: 100%;
    margin-top: 2px;
    height: 2px;
    clip-path: var(--clippy);
    transition: .2s ease;
    opacity: .8;
}

.bot__3 a:hover {
    --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    color: #fff;
}


.bot__4 {
    grid-area: bot__4;
    background-image: url(../multimedia/rogell.jpg);
    background-repeat: none;
    background-position: center;
}

.bot__4 a {
    text-decoration: none;
    color: white;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.bot__4 a::after {
    content: "";
    display: block;
    background: #fff;
    width: 100%;
    margin-top: 2px;
    height: 2px;
    clip-path: var(--clippy);
    transition: .2s ease;
    opacity: .8;
}

.bot__4 a:hover {
    --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    color: #fff;
}

.newsletter {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-areas: 
    "sus2 sus2"
    "nove nove"
    "nnw" "nnw2";
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sus {
    width: 600px;
    height: 300px;
    margin-right: auto;
    margin-left: 50%;
    margin-bottom: 20px;
    color: #663c4c;
    opacity: .6;
    border: 1.5px solid #663c4c;
}

.sus2 {
    margin-left: 70px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.nove {
    margin-left: 135px;
    padding-bottom: 15px;
}

.nnw {
    border: none;
    outline: none;
    width: 300px;
    background-color: whitesmoke;
    border-bottom: 1.5px solid #663c4c;
    margin-left: 80px;
}

.nnw:focus {
    border-bottom-color: #d39892;
}

.nnw2 {
    border-radius: 5px;
    background-color: #663c4c;
    color: white;
    width: 120px;
    height: 30px;
    border: none;
    outline: none;
    margin-left: 20px;
}


/* FIN DE PAG DE INICIO */

/* COMIENZO DEL FOOTER */

.footer {
    position: relative;
    background: #664c4f;
    width: 100%;
    padding-top: 30px;
    color: white;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    list-style: none;
}

.titulo h3 {
    font-size: 38px;
    font-family: 'Dancing Script', cursive;
    line-height: 3rem;
    list-style: none;
    text-decoration: none;
    color: white;
}

.titulo p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 17px;
    list-style: none;
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.red-social {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 0 .7rem 0;
}

.red-social ul {
    margin: 10px auto;
}

.red-social a {
    text-decoration: none;
    color: white;
}

.red-social a i {
    font-size: 2.2rem;
    transition: color .4 ease;
    margin-right: 20px;
}

.red-social a:hover i {
    color: #997479;
}

.copy {
    background: #664c4f;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.copy p {
    font-size: 14px;
    word-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
}

.copy span {
    opacity: .4;
    font-weight: 200;
}


/* FIN DEL FOOTER */

/* Boostrap */

.carousel-inner {
    height: 800px;
    background-size: cover;
    background-position: center;
}

/* CONTACTO */

.eem {
    height: 700px;
    width: 100%;
}

.contenido {
    display: grid;
    grid-template-areas:
        "consulta"
        "texto";
    row-gap: 25px;
    margin-top: 80px;
}

.consulta {
    color: #663c4c;
    opacity: .6;
    text-align: center;
}

.texto {
    color: #663c4c;
    opacity: .6;
    width: 40%;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.formulario {
    display: grid;
    grid-template-areas:
        "nombre apellido"
        "email numero "
        "mensaje mensaje"
        "boton boton";
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    column-gap: 50px;
    row-gap: 25px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    opacity: .6;
}

.nombre {
    grid-area: nombre;
    width: 100%;

}

.nombre input,
textarea {

    border: none;
    resize: none;
    outline: none;
    width: 100%;
    transform: all .3s;
    border-bottom: 1.5px solid #663c4c;
    background-color: whitesmoke;

}

.apellido {
    grid-area: apellido;
    width: 100%;

}

.apellido input,
textarea {
    border: none;
    resize: none;
    outline: none;
    width: 100%;
    transform: all .3s;
    border-bottom: 1.5px solid #663c4c;
    background-color: whitesmoke;
}

.email {
    grid-area: email;
    width: 100%;

}

.email input,
textarea {
    border: none;
    resize: none;
    outline: none;
    width: 100%;
    transform: all .3s;
    border-bottom: 1.5px solid #663c4c;
    background-color: whitesmoke;
}

.numero {
    grid-area: numero;
    width: 100%;

}

.numero input,
textarea {
    border: none;
    resize: none;
    outline: none;
    width: 100%;
    transform: all .3s;
    border-bottom: 1.5px solid #663c4c;
    background-color: whitesmoke;
}

.mensaje {
    grid-area: mensaje;
    width: 100%;


}

.mensaje input,
textarea {
    border: none;
    resize: none;
    outline: none;
    width: 100%;
    transform: all .3s;
    border-bottom: 1.5px solid #663c4c;
    background-color: whitesmoke;
}

.boton {
    grid-area: boton;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.boton {
    border: none;
    outline: none;
    background: #663c4c;
    border-radius: 5px;
    width: 200px;
    height: 38px;
    color: whitesmoke;
}

input:focus,
textarea:focus {
    border-bottom-color: #d39892;
}


/*FIN DEL CONTACTO */

.card-body {
    height: 80px;
    background: whitesmoke;
    text-align: center;
}

.card-img-top {
    height: 381.33px;
}


/* NOSOTROS */

.nosotros {
    height: 400px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
}

.ccc {
    text-align: center;
    color: #663c4c;
    opacity: .7;
    margin-top: 70px;
    margin-bottom: 40px;
}

.descripcion {
    text-align: center;
    color: #663c4c;
    opacity: .7;
    align-content: center;
    font-size: 18px;
}

/* FIN DE NOSOTROS */

/* REGISTRO */

.cuadro {
    height: 500px;
    width: 100%;
}

.registro {
    display: grid;
    grid-template-areas:
        "nombre numero"
        "email code"
        "botonn botonn"
        "cuenta cuenta";
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    column-gap: 50px;
    row-gap: 50px;
    width: 1000px;
    margin-top: 70px;
    opacity: .6;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}

.code {
    grid-area: code;
    width: 100%;
}

.code input,
textarea {
    border: none;
    resize: none;
    outline: none;
    width: 100%;
    transform: all .3s;
    border-bottom: 1.5px solid #663c4c;
    background-color: whitesmoke;
}

.botonn {
    grid-area: botonn;
    width: 100%;
}

.botonn {
    border: none;
    outline: none;
    background: #663c4c;
    border-radius: 5px;
    width: 200px;
    height: 38px;
    color: whitesmoke;
}

.cuenta {
    grid-area: cuenta;
    width: 100%;
    margin-left: 350px;
}

.cuenta {
    color: #663c4c;
}

.cuenta a {
    color: #a06586;
}

.bienvenido {
    color: #663c4c;
    text-align: center;
    justify-content: center;
    opacity: .6;
    margin-top: 70px;
    margin-bottom: 60px;
}



/* INIC DEL REGISTRO */

.inic {
    height: 500px;
    width: 100%;
}

.iniciar__sesion {
    color: #663c4c;
    opacity: .6;
    justify-content: center;
    text-align: center;
    margin: 55px 0px;
}

.iniciar {
    display: grid;
    grid-template-areas:
        "email"
        "code"
        "botonn"
        "inicc";
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    margin-right: auto;
    margin-left: auto;
    width: 500px;
    height: 390px;
    opacity: .6;
}

.botonn {
    margin-left: auto;
    margin-right: auto;
}

.inicc {
    color: #663c4c;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.inicc a {
    color: #663c4c;
}


/* FIN DEL REGISTRO */

/* MEDIA */

@media (max-width: 730px) {

    .nav{
        width: 360px;
    }

    .nav__label {
        display: block;
        cursor: pointer;
        color: #663c4c;
    }

    

    .nav__menu {
        position: fixed;
        top: 60px;
        bottom: 0;
        background: #997479;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: clip-path .5s ease;
    }

    .nav__input:checked + .nav__menu{
        background: #997479;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    }

    .nav__item {
        color: white;
    }

    .nav__item::after {
        background: #fff;
    }

    .nav__item:hover {
        color: #fff;
    }*/

    /* FOOTER MEDIA*/

    .footer {
        position: relative;
        background: #664c4f;
        width: 100%;
        padding-top: 30px;
        color: white;
        margin-top: 200px;
    }

    /* REGISTRO MEDIA */

    .registro{
        width: 360px;
    }

    
    .registro {
        display: grid;
        grid-template-areas:
            "nombre"
            "numero"
            "email"
            "code"
            "botonn"
            "cuenta";
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto;
        row-gap: 50px;
        width: 360;
        margin-top: 70px;
        opacity: .6;
        margin-left: 5px;
        margin-right: 5px;
    }

    .botonn {
        grid-area: botonn;
        margin-left: 80px;
    }

    .cuenta {
        grid-area: cuenta;
        margin-left: 30px;
        width: 300px;
    }

    .code {
        grid-area: code;
        width: 350px;
    }

    .email {
        grid-area: email;
        width: 350px;
    }

    .numero {
        grid-area: numero;
        width: 350px;
    }

    .nombre {
        grid-area: nombre;
        width: 350px;
    }

    /* INCIO MEDIA */

    .carousel {
        height: 200px;
    }

    .iniciar {
        display: grid;
        grid-template-areas:
            "email"
            "code"
            "botonn"
            "inicc";
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        margin-right: 5px;
        margin-left: 5px;
        width: 360px;
        opacity: .6;
    }

    .inicc {
        grid-area: inicc;
        width: 300px;
    }

    /* NEWSLETTER MEDIA */

    .newsletter {
        width: 355px;
        margin-left: auto;
    }

    .sus {
        width: 355px;
        margin-left: 0px;
        margin-bottom: 0px;
        margin-top: 100px;
    }

    .sus2 {


        padding: 0px 0px 0px 0px;
        margin-top: 25px;
        font-size: 20px;
        margin-left: 15px;
        margin-right: auto;
    }

    .nove {
        margin-top: 30px;
        margin-left: 15px;
        font-size: 16px;
        justify-content: center;

    }

    .nnw {
        margin-left: 25px;
    }

    .nnw2 {
        margin-top: 20px;
        margin-left: 110px;
    }

    /* IMG MEDIA */

    .col {
        margin-left: 20px;
        margin-bottom: 20px;
    }

    /* NOSOTROS MEDIA */

    .nosotros {
        width: 360px;
    }

    /* PAG INC MEDIA */

    .principál {
        width: 360px;

    }

    .carta {
        display: grid;
        grid-template-areas:
            "bot__1"
            "bot__2";
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        row-gap: 15px;
    }

    .secundario{
        width: 360px;
        height: 1228px;
    }

    .papel {
        display: grid;
        grid-template-areas:
            "bot__3"
            "bot__4";
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        row-gap: 15px;
    }

    /* CARRU MEDIA */

    .carousel-inner{
        height: auto;
    }

}


