$letraBody: 'Montserrat',
sans-serif;
$letraFranis: 'Dancing Script',
cursive;

$colorBack: #f5f5f5;
$colorTexto: #663c4c;
$colorFoot: #ffffff;
$colorSub: #d39892;
$colorTT: #664c4f;
$colorPS:#997479;

$mapColores:(1:#f5f5f5,
    2:#663c4c,
    3:#ffffff,
    4:#d39892,
    5:#664c4f,
    6:#997479);

/*@mixin espacios ($color, $color1) {
    background-color: $color;
    color: $color1;
    margin-right: 20px;
    width: 100%;
    height: 500px;
}*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    //font-family: $letraBody;
    background: $colorBack;

    .header {

        width: 100%;
        height: 80px;
        background: $colorBack;

        .nav {
            background: $colorBack;
            height: 80px;
            color: $colorTexto;

            .nav__container {
                display: flex;
                height: 100%;
                width: 100%;
                margin: 0 auto;
                justify-content: space-between;
                align-items: center;

                .nav__logo {
                    font-size: 33px;
                    font-weight: 900;
                    font-family: $letraFranis;
                    margin-left: 30px;
                }

                .nav__label {
                    font-size: 35px;

                    &nav__input {
                        display: none
                    }
                }

                .nav__menu {
                    margin-top: 15px;
                    margin-right: 30px;
                    display: grid;
                    grid-auto-flow: column;
                    gap: 20px;

                    .nav__item {
                        color: $colorTexto;
                        text-decoration: none;
                        --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
                        font-size: 18px;

                        &::after {
                            content: "";
                            display: block;
                            background: $colorTexto;
                            width: 100%;
                            margin-top: 2px;
                            height: 2px;
                            clip-path: var(--clippy);
                            transition: .2s ease;
                        }

                        &:hover {
                            --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                            color: $colorTexto;
                        }

                    }
                }
            }
        }
    }

    .eem {
        height: 700px;
        width: 100%;

        .contenido {
            display: grid;
            grid-template-areas:
                "consulta"
                "texto";
            row-gap: 25px;
            margin-top: 70px;

            .consulta {
                color: $colorTexto;
                opacity: .6;
                text-align: center;
            }

            .texto {
                color: $colorTexto;
                opacity: .6;
                width: 40%;
                text-align: center;
                justify-content: center;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 100px;
            }
        }

        .formulario {
            display: grid;
            grid-template-areas:
                "nombre apellido"
                "email numero "
                "mensaje mensaje"
                "boton boton";
            grid-template-columns: auto auto;
            grid-template-rows: auto auto auto auto;
            column-gap: 50px;
            row-gap: 25px;
            width: 1000px;
            margin-left: auto;
            margin-right: auto;
            opacity: .6;

            .nombre {
                grid-area: nombre;
                width: 100%;

                &input,
                textarea {
                    border: none;
                    resize: none;
                    outline: none;
                    width: 100%;
                    transform: all .3s;
                    border-bottom: 1.5px solid $colorTexto;
                    background-color: $colorBack;
                }
            }

            .apellido {
                grid-area: apellido;
                width: 100%;

                &input,
                textarea {
                    border: none;
                    resize: none;
                    outline: none;
                    width: 100%;
                    transform: all .3s;
                    border-bottom: 1.5px solid $colorTexto;
                    background-color: $colorBack;
                }
            }

            .email {
                grid-area: email;
                width: 100%;

                &input,
                textarea {
                    border: none;
                    resize: none;
                    outline: none;
                    width: 100%;
                    transform: all .3s;
                    border-bottom: 1.5px solid $colorTexto;
                    background-color: $colorBack;
                }
            }

            .numero {
                grid-area: numero;
                width: 100%;

                &input,
                textarea {
                    border: none;
                    resize: none;
                    outline: none;
                    width: 100%;
                    transform: all .3s;
                    border-bottom: 1.5px solid $colorTexto;
                    background-color: $colorBack;
                }
            }

            .mensaje {
                grid-area: mensaje;
                width: 100%;

                &input,
                textarea {
                    border: none;
                    resize: none;
                    outline: none;
                    width: 100%;
                    transform: all .3s;
                    border-bottom: 1.5px solid $colorTexto;
                    background-color: $colorBack;
                }
            }

            .boton {
                grid-area: boton;
                align-content: center;
                margin-left: auto;
                margin-right: auto;
                border: none;
                outline: none;
                background: $colorTexto;
                border-radius: 5px;
                width: 200px;
                height: 38px;
                color: $colorBack;
            }

            input:focus,
            textarea:focus {
                border-bottom-color: $colorSub;
            }

        }

    }

    .footer {
        position: relative;
        background: map-get($map: $mapColores, $key: 4);
        width: 100%;
        padding-top: 30px;
        color: $colorFoot;

        .titulo {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            list-style: none;

            h3 {
                font-size: 1.8rem;
                font-weight: 400;
                font-family: $letraFranis;
                line-height: 3rem;
                list-style: none;
                text-decoration: none;
                color: $colorFoot;
            }

            .pp {
                max-width: 500px;
                margin: 10px auto;
                line-height: 28px;
                font-size: 17px;
                list-style: none;
                text-decoration: none;
                color: $colorFoot;
                font-family: $letraBody;
            }

            .red-social {
                list-style: none;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0.5rem 0 .7rem 0;

                ul {
                    margin: 10px 0 10px 0;

                    li {
                        margin: 0 10px;

                        a {
                            text-decoration: none;
                            color: $colorFoot;

                            i {
                                font-size: 2.2rem;
                                transition: color .4 ease;
                                margin-right: 50px;
                            }

                            &:hover i {
                                color: $colorPS;
                            }
                        }
                    }
                }
            }
        }

        .copy {
            background: map-get($map: $mapColores, $key: 4 );
            width: 100%;
            padding: 20px 0;
            text-align: center;

            .pp2 {
                /*font-size: 14px;
                word-spacing: 2px;
                font-family: $letraBody;*/
                @extend.pp;
                color: aqua;

                span {
                    opacity: .4;
                    font-weight: 200;
                }
            }
        }
    }

}